<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <!-- title -->
      <div class="mb-3">
        <label class="form-label" for="title">Enter Campground Title:</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="invalid-feedback">Please enter campground title.</div>
      </div>
      <!-- location -->
      <div class="mb-3">
        <label class="form-label" for="location"
          >Enter Campground Location:</label
        >
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          placeholder="City, State"
          required
        />
        <div class="invalid-feedback">Please enter campground location.</div>
      </div>
      <!-- price -->
      <div class="mb-3">
        <label class="form-label" for="price">Enter Campground Price:</label>
        <div class="input-group">
          <span id="price-label" class="input-group-text">$</span>
          <input
            type="text"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
            id="price"
            name="campground[price]"
            placeholder="0.00"
            aria-describedby="price-label"
            required
          />
          <div class="invalid-feedback">Please enter campground price.</div>
        </div>
      </div>
      <!-- file image -->
      <input type="file" name="image" id="image" multiple />
      <!-- description -->
      <div class="mb-3">
        <label class="form-label" for="description"
          >Enter Campground Description:</label
        >
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          style="height: 100px"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter campground description.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>

    <div>
      <a href="/campgrounds">Back to Campgrounds</a>
    </div>
  </div>
</div>
