<% layout("layouts/boilerplate") %>
<div class="container justify-content-center align-items-center mt-5">
  <div class="row d-flex">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1594495894542-a46cc73e081a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80"
          alt="car driving on road"
        />
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form
            action="/register"
            class="validated-form"
            novalidate
            method="POST"
          >
            <!-- username -->
            <div class="mb-3">
              <label class="form-label" for="username">Enter Username:</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
                autofocus
              />
              <div class="invalid-feedback">Please enter username.</div>
            </div>
            <!-- email -->
            <div class="mb-3">
              <label class="form-label" for="email">Enter Email:</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
              />
              <div class="invalid-feedback">Please enter email.</div>
            </div>
            <!-- password -->
            <div class="mb-3">
              <label class="form-label" for="password">Enter password:</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="invalid-feedback">Please enter password.</div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success btn-block">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
